<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

    <title>Create Course</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item ">
                    <a class="nav-link" href="hod">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="addcourse">Create Course</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
      <strong>{{message}}</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %}
    <div style=" padding:25px;">
        <form action="addcourse" method="post" class=" p-4 bg-light border" style=" margin:auto ; width: 400px;">
            {% csrf_token %}
            <div class="mb-3 fs-2 text-center">Create Course</div>
            <div class="mb-3">
                <label for="ay" class="form-label">Academic Year</label>
                <input type="text" class="form-control" name="ay" id="ay" value="" required>
            </div>
            <div class="mb-3">
                <label for="programme" class="form-label">Programme</label>
                <select class="form-select" name="programme" aria-label="Default select example">
                    <option value="B.Tech. (Computer Science and Engineering)">B.Tech. (Computer Science and
                        Engineering)</option>
                    <option value="B.Tech. (Information Technology)">B.Tech. (Information Technology)</option>
                    <option value="B.Tech. (Electrical)">B.Tech. (Electrical)</option>
                    <option value="B.Tech. (Electronics)">B.Tech. (Electronics)</option>
                    <option value="B.Tech. (Mechanical)">B.Tech. (Mechanical)</option>
                    <option value="B.Tech. (Civil)">B.Tech. (Civil)</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="classsem" class="form-label">Class, Semester</label>
                <select class="form-select" name="classsem" aria-label="Default select example">
                    <option value="First Year B. Tech , Sem I">First Year B. Tech , Sem I</option>
                    <option value="First Year B. Tech , Sem II">First Year B. Tech , Sem II</option>
                    <option value="Second Year B. Tech , Sem III">Second Year B. Tech , Sem III</option>
                    <option value="Second Year B. Tech , Sem IV">Second Year B. Tech , Sem IV</option>
                    <option value="Third Year B. Tech , Sem V">Third Year B. Tech , Sem V</option>
                    <option value="Third Year B. Tech , Sem VI">Third Year B. Tech , Sem VI</option>
                    <option value="Final Year B. Tech , Sem VII">Final Year B. Tech , Sem VII</option>
                    <option value="Final Year B. Tech , Sem VIII">Final Year B. Tech , Sem VIII</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="ccode" class="form-label">Course Code</label>
                <input type="text" class="form-control" name="ccode" id="ccode" required>
            </div>
            <div class="mb-3">
                <label for="cname" class="form-label">Course Name</label>
                <input type="text" class="form-control" name="cname" id="cname" required>
            </div>
            <div class="mb-3">
                <label for="ctype" class="form-label">Course Type</label>
                <select class="form-select" name="ctype" aria-label="Default select example">
                    <option value="Theory">Theory</option>
                    <option value="Laboratory">Laboratory</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="credits" class="form-label">Credits</label>
                <input type="number" class="form-control" name="credits" id="credits" required>
            </div>
            <div class="mb-3">
                <label for="faculty" class="form-label">Assign Faculty</label>
                <select class="form-select" name="faculty" aria-label="Default select example">
                    {% for faculty in faculties %}
                    <option value="{{faculty.username}}">{{faculty.username}}</option>
                    {% endfor %}
                </select>
            </div>

            <input type="hidden" name="hod" value={{user}}>

            <p class="mb-3 fs-5 text-center">Teaching Scheme</p>
            <div class="mb-3">
                <label for="lecture" class="form-label">Lecture</label>
                <select class="form-select" aria-label="Default select example" name="lecture" id="lecture" required>
                    <option value=None>No Lecture</option>
                    <option value="1 Hrs/week">1 Hrs/week</option>
                    <option value="2 Hrs/week">2 Hrs/week</option>
                    <option value="3 Hrs/week">3 Hrs/week</option>
                    <option value="4 Hrs/week">4 Hrs/week</option>
                    <option value="5 Hrs/week">5 Hrs/week</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="tutorial" class="form-label">Tutorial</label>
                <select class="form-select" aria-label="Default select example" name="tutorial" id="tutorial" required>
                    <option value=None>No Tutorial</option>
                    <option value="1 Hrs/week">1 Hrs/week</option>
                    <option value="2 Hrs/week">2 Hrs/week</option>
                    <option value="3 Hrs/week">3 Hrs/week</option>
                    <option value="4 Hrs/week">4 Hrs/week</option>
                    <option value="5 Hrs/week">5 Hrs/week</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="practical" class="form-label">Practical</label>
                <select class="form-select" aria-label="Default select example" name="practical" id="practical"
                    required>
                    <option value=None>No Practical</option>
                    <option value="1 Hrs/week">1 Hrs/week</option>
                    <option value="2 Hrs/week">2 Hrs/week</option>
                    <option value="3 Hrs/week">3 Hrs/week</option>
                    <option value="4 Hrs/week">4 Hrs/week</option>
                    <option value="5 Hrs/week">5 Hrs/week</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="interaction" class="form-label">Interaction</label>
                <select class="form-select" aria-label="Default select example" name="interaction" id="interaction"
                    required>
                    <option value=None>No Interaction</option>
                    <option value="1 Hrs/week">1 Hrs/week</option>
                    <option value="2 Hrs/week">2 Hrs/week</option>
                    <option value="3 Hrs/week">3 Hrs/week</option>
                    <option value="4 Hrs/week">4 Hrs/week</option>
                    <option value="5 Hrs/week">5 Hrs/week</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" name="save">Submit</button>
        </form>
    </div>


</body>

</html>